<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post" class="super_hero_form">

  <div class="super_hero_form">
    <label>Team Name: </label>
    <input type="text" name="team[name]">
  </div>
  <div class="super_hero_form">
    <label>Team Motto: </label>
    <input type="text" name="team[motto]">
  </div>

  <h2>Hero 1</h2>
  <div class="super_hero_form">
    <label>Hero's Name: </label>
    <input type="text" name="member1_name">
  </div>
  <div class="super_hero_form">
    <label>Hero's Power: </label>
    <input type="text" name="member1_power">
  </div>
  <div class="super_hero_form">
    <label>Hero's Biography: </label>
    <input type="text" name="member1_bio">
  </div>

  <h2>Hero 2</h2>
  <div class="super_hero_form">
    <label>Hero's Name: </label>
    <input type="text" name="member2_name">
  </div>
  <div class="super_hero_form">
    <label>Hero's Power: </label>
    <input type="text" name="member2_power">
  </div>
  <div class="super_hero_form">
    <label>Hero's Biography: </label>
    <input type="text" name="member2_bio">
  </div>

  <h2>Hero 3</h2>
  <div class="super_hero_form">
    <label>Hero's Name: </label>
    <input type="text" name="member3_name">
  </div>
  <div class="super_hero_form">
    <label>Hero's Power: </label>
    <input type="text" name="member3_power">
  </div>
  <div class="super_hero_form">
    <label>Hero's Biography: </label>
    <input type="text" name="member3_bio">
  </div>
  <br>
  <div class="super_hero_form">
    <input type="submit" value="submit">
  </div>
</form>
